pandas>=2.0.0
numpy>=1.24.0
scikit-learn>=1.3.0
matplotlib
seaborn
jupyter
plotly
streamlit
streamlit-aggrid
fastapi
uvicorn
kafka-python
confluent-kafka
psycopg2-binary
sqlalchemy
pyod
torch
pytorch-lightning
prophet
pulp
mlflow>=2.10.0
kserve
seldon-core
prometheus-client
evidently
sentry-sdk
locust
requests
faker
great_expectations
pytest
ruff
black
optuna
statsmodels
redis
feast
